## **Basic Level:**

## 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
# by using for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## 2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
l = []

num = int(input('how many numbers'))

for i in range (num):

  numbers = int(input('enter the number'))

  l.append(numbers)

  print('sum of numbers in list:',sum(l))

how many numbers5
enter the number1
sum of numbers in list: 1
enter the number2
sum of numbers in list: 3
enter the number3
sum of numbers in list: 6
enter the number4
sum of numbers in list: 10
enter the number4
sum of numbers in list: 14

## 3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
s = 'pwskills'

for i in s[::-1]:
  print(i)

s
l
l
i
k
s
w
p

## 4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n = int(input('enter the number'))

factorial = 1

if n >= 1:

  for i in range(1,n+1):
    factorial = factorial *i
    print('factorial of the number is:',factorial)

enter the number5
factorial of the number is: 1
factorial of the number is: 2
factorial of the number is: 6
factorial of the number is: 24
factorial of the number is: 120

## 5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n = int(input('enter the number'))

print("table of :")

for a in range(1,11):
  print(n*a)

enter the number3
table of :
3
6
9
12
15
18
21
24
27
30

## 6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l = [2,4,6,1,2,3]

for i in l:


   if  i%2 == 0:

       print('even numbers' ,i)

for i in l:

even numbers 2
even numbers 4
even numbers 6
even numbers 2

## 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

## 8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
s = 'pwskill'

count = 0

for i in s:

  count += 1

  print(count)

1
2
3
4
5
6
7

## 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
l = [1,2,3,4,5]

sum_num = 0

for num in l:

    sum_num += num

avg = sum_num/len(l)
print("the average is:",avg)

the average is: 3.0

## 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a,b = 0,1

n = 10

for i in range(n):

  a,b = b,a + b
  print(a)

1
1
2
3
5
8
13
21
34
55

# **Intermediate Level:**

## 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lis = [1,2,3,4,5,1,1,5]

unique_list = []

duplicate_list = []

for i in lis:
  if i not in unique_list:
    unique_list.append(i)
  elif i not in duplicate_list:
    duplicate_list.append(i)
print(duplicate_list)

[1, 5]

## 12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
for i in range(1,11):

     i > 1

     if i = i/i == 1:
      print(i)
     else:
      print(no)
print(i)

1

NameError: ignored

## 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
# Python3 code to count vowel in
# a string using set


def vowel_count(str):

	# Initializing count variable to 0
	count = 0

	vowel = set("aeiouAEIOU")
	for alphabet in str:

		# If alphabet is present
		# in set vowel
		if alphabet in vowel:
			count = count + 1

	print("No. of vowels :", count)

# Driver code
str = "muskan"

# Function Call
vowel_count(str)

No. of vowels : 2

## 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:



def prod(lis):
	maxi = 0

	# traversal in the lists
	for x in lis:

		p = 1

		# traversal in list of lists
		for i in x:
			p *= i
			maxi = max(p, maxi)
	return maxi


# driver code
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(prod(l))

504

## 15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
l = [1,2,3,4,5,6,5,7]

n = 5

for x in l:

  if x == n:

     l.remove(x)
print(l)

[1, 2, 3, 4, 6, 7]

## 16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))
# We are using "for loop" to iterate the multiplication 10 times
print ("The Multiplication Table of: ", number)
for count in range(1, 11):
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 2
The Multiplication Table of:  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
# prompt: 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

fahrenheit = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

for temperature in fahrenheit:
  celsius = (temperature - 32) * 5 / 9
  print(f"{temperature} fahrenheit  is {celsius} degrees Celsius")

100 fahrenheit  is 37.77777777777778 degrees Celsius
90 fahrenheit  is 32.22222222222222 degrees Celsius
80 fahrenheit  is 26.666666666666668 degrees Celsius
70 fahrenheit  is 21.11111111111111 degrees Celsius
60 fahrenheit  is 15.555555555555555 degrees Celsius
50 fahrenheit  is 10.0 degrees Celsius
40 fahrenheit  is 4.444444444444445 degrees Celsius
30 fahrenheit  is -1.1111111111111112 degrees Celsius
20 fahrenheit  is -6.666666666666667 degrees Celsius
10 fahrenheit  is -12.222222222222221 degrees Celsius

## 18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
def common_member(a, b):
	result = [ i for i in a if i in b]
	return result

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

## 20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
x = 50
y = 100

if x>y:

  x,y = y,x

for i in range(1,x+1):

  x%i ==  0 and y%i == 0

print ('GCD_is' , i)

GCD_is 50

# Advanced Level:

## 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
lst = [1,2,3,4,5,6]

In [ ]:
a = [ sum(lst) ]

In [ ]:
a

[21]

## 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

## 23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
## comprehension.

In [ ]:

# List with most unique elements
# using list comprehension + max() + set()

# Initializing lists
test_list1 = [1, 3, 4, 4, 4, 3, 3, 2, 2, 1]
test_list2 = [1, 3, 4, 6, 7]
test_list3 = [4, 5, 4, 3, 6, 7, 8]



# List with most unique elements
# using list comprehension + max() + set()
res = [ele for ele in [set(test_list1), set(test_list2), set(test_list3)]
	if len(ele) == max([len(sub) for sub in [set(test_list1), set(test_list2), set(test_list3)]])][0]

# printing result
print ("List with Most unique values : " + str(list(res)))

List with Most unique values : [3, 4, 5, 6, 7, 8]

## 24.create a program that generates a list of palindromic numbers upto specified limitusing a list comprehension

In [ ]:
lst = [i for i in range(1, 424) if str(i)  [::-1] == str(i)]

In [ ]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 202,
 212,
 222,
 232,
 242,
 252,
 262,
 272,
 282,
 292,
 303,
 313,
 323,
 333,
 343,
 353,
 363,
 373,
 383,
 393,
 404,
 414]

## 25. Write a program to flatten a nested list using list comprehension.

In [ ]:
# Create a nested list
nested_list = [[1, 2], [3, 4], [5, 6]]

# Flatten the list using list comprehension
flattened_list = [item for sublist in nested_list for item in sublist]

# Print the flattened list
print(flattened_list)

[1, 2, 3, 4, 5, 6]

## 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Compute the sum of even numbers
even_sum = sum([number for number in numbers if number % 2 == 0])

# Compute the sum of odd numbers
odd_sum = sum([number for number in numbers if number % 2 != 0])

# Print the results
print("The sum of even numbers is:", even_sum)
print("The sum of odd numbers is:", odd_sum)

The sum of even numbers is: 30
The sum of odd numbers is: 25

## 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
## comprehension.

In [ ]:
lst = [ i**2 for i in range(1, 11, 2) ]

In [ ]:
lst

[1, 9, 25, 49, 81]

## 28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
# Create two lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Combine the lists into a dictionary using list comprehension
dictionary = {key: value for key, value in zip(keys, values)}

# Print the dictionary
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

## 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
strg = 'pwskill,muskan,data science'

vowels = [ i for i in strg if i in 'aeiouAEIOU']

print(vowels)

['i', 'u', 'a', 'a', 'a', 'i', 'e', 'e']

## 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
my_list = ['23','muskan','45','pwskill','35','datascience']

In [ ]:
my_list = [elem for elem in my_list if not any(c.isalpha() for c in elem)]

In [ ]:
my_list

['23', '45', '35']

# Challenge Level:

## 31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
## comprehension.

In [ ]:
def sieve_of_eratosthenes(n):
  primes = [True] * (n + 1)
  primes[0] = primes[1] = False
  for i in range(2, int(n ** 0.5) + 1):
    if primes[i]:
      for j in range(i * i, n + 1, i):
        primes[j] = False
  return [i for i in range(n + 1) if primes[i]]

print(sieve_of_eratosthenes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## 32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
def pythagorean_triplets(limit):
  return [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a ** 2 + b ** 2 == c ** 2]

print(pythagorean_triplets(100))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

## 33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
def combinations(list1, list2):
  return [[a, b] for a in list1 for b in list2]

print(combinations([1, 2, 3], ['a', 'b', 'c']))

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c']]

## 34. Write a program that calculates the mean, median, and mode of a list of numbers using list
## comprehension.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

#for mean - by using formula mean = sum of the values/total no. of values

mean = [sum(lst)/len(lst)]

print('mean:',mean)

#for median

def median(lst):

  return sorted(lst)[len(lst)//2]

print( 'median:' ,median([1,2,3,4,5,6,7,8,9,10]))

#for mode

import statistics

mode = statistics.mode(range(1,11))

print('mode:' , mode)

mean: [5.5]
median: 6
mode: 1

## 35. Create a program that generates Pascal's triangle up to a specified number of rows using list
## comprehension.

In [ ]:
def pascal_triangle(n):
  triangle = [[1] * (i + 1) for i in range(n)]
  for i in range(1, n):
    for j in range(1, i):
      triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
  return triangle

print(pascal_triangle(5))

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

## 36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
## comprehension.

In [ ]:
import math

math_module = sum([sum(int(i) for i in str(math.factorial(n))) for n in range(1, 6)])

In [ ]:
math_module

18

## 37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
sentence = "This is a sentence."
longest_word = max(sentence.split(), key=len)
print(longest_word)

sentence.

## 38. Create a program that filters a list of strings to include only those with more than three vowels using list
## comprehension.

In [ ]:
def vowels_check(word):
    vowels = 'aeiouAEIOU'
    count = 0
    for vowel in vowels:
        count += word.count(vowel)
    if count > 3: return True
    return False

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if vowels_check(fruit)]

In [ ]:
fruits_with_more_than_two_vowels

['pineapple', 'mandarin orange']

## 39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
## comprehension.

In [ ]:
sum_of_digits = sum([sum(map(int, str(i))) for i in range(1, 1001)])
print(sum_of_digits)

13501